<div class="hero">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum fugiat itaque necessitatibus nemo officiis perferendis quasi reiciendis sunt, tenetur velit. Aliquid aspernatur et illo modi necessitatibus qui sint sunt tenetur?
</div>
